{{define "error"}}
<!DOCTYPE html>
<html>
<head>
	<title>ずぼら〜ず</title>
	<style>
		.wrapper{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
			padding-bottom: 3em;
		}
		.message{
			font-size: 30px;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<img width="200" height="200" src="https://firebasestorage.googleapis.com/v0/b/cookshare-kyoto.appspot.com/o/logo.png?alt=media&token=fe891c52-56c1-4253-a5d6-f37f07912e88">
		<p class="message">申し訳ありません。エラーが発生しました。</p>
	</div>
</body>
</html>
{{end}}