{{define "recipe"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユニパッド</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{.Name}}のレシピ" />
    <meta name="twitter:description" content="レシピを見ながら作ってみよう" />
    <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
</head>
<body>
    <header>
        <div class="headerInner">
            <!-- <img src="logo.png" alt="ロゴ" width="400" height="100" > -->
        </div>
    </header>
    <main>
        <h1>料理紹介ページ</h1>
        
        <h2>料理名</h2>
            <p>{{.Name}}</p>
            <img src="data:image/png;base64,{{.Pic}}" alt="" height="100">
            <p id="star">
            {{if eq .Difficulty 1}}
            ★
            {{end}}
            {{if eq .Difficulty 2}}
            ★★
            {{end}}
            {{if eq .Difficulty 3}}
            ★★★
            {{end}}
            {{if eq .Difficulty 4}}
            ★★★★
            {{end}}
            {{if eq .Difficulty 5}}
            ★★★★★
            {{end}}
            </p>
            <div>
                <label class="tag">#切る</label>
                <label class="tag">#煮る</label>
                <label class="tag">#炒める</label>
            </div>
            
        <h2>料理紹介</h2>
            <p>{{.Message}}</p>
        <h2>材料</h2>
            <p>{{.Ingredients}}</p>
        <h2>作り方</h2>
        <div class="howTo">
            <h3>1</h3>
            <p>{{.HowTo1}}</p>
        </div>
        <div class="howTo">
            <h3>2</h3>
            <p>{{.HowTo2}}</p>
        </div>
        <div class="howTo">
            <h3>3</h3>
            <p>{{.HowTo3}}</p>
        </div>
        <div class="howTo">
            <h3>4</h3>
            <p>{{.HowTo4}}</p>
        </div>
        <div class="howTo">
            <h3>4</h3>
            <p>{{.HowTo5}}</p>
        </div>
        <div class="howTo">
            <h3>4</h3>
            <p>{{.HowTo6}}</p>
        </div>
    </main>
    <footer>
        <div class="footerInner">
            <small>&copy; ちーむなわとび</small>
        </div>
    </footer>
</body>
</html>




{{end}}